html
    head
        title igatea.com
        link(href="../scss/style.css", rel="stylesheet")
    body
        h1 igatea.com
        ul.main-link-list
            mixin h2List(url, linkName, id, color)
                li
                    h2
                        a(href=url, id=id, class='main-link', data-color=color) #{linkName}

            +h2List('http://example.com', 'Github', 'github', '#000')
            +h2List('http://example.com', 'Blog', 'blog', '#e8c768')
            +h2List('http://example.com', 'Qiita', 'qiita', '#55c500')
            +h2List('#products', 'Products', 'products')
            +h2List('#career', 'Career', 'career')
            +h2List('#technical', 'Technical', 'technical')

        div#over
        script(src="../../bin/app.js")
