html
    head
        title igatea.com
        link(href="../scss/style.css", rel="stylesheet")
    body
        h1 igatea.com
        ul.main-link-list
            mixin h2List(url, linkName)
                li
                    h2
                        a(href=url) #{linkName}

            +h2List('http://example.com', 'Github')
            +h2List('http://example.com', 'Blog')
            +h2List('http://example.com', 'Qiita')
            +h2List('http://example.com', 'Products')
            +h2List('http://example.com', 'Career')
            +h2List('http://example.com', 'Technical')
