html
    head
        title igatea.com
        link(href="../scss/style.css", rel="stylesheet")
    body
        h1 igatea.com
        ul.main-link-list
            mixin h2List(url, linkName, id)
                li
                    h2
                        a(href=url, id=id, class='main-link') #{linkName}

            +h2List('http://example.com', 'Github', 'github')
            +h2List('http://example.com', 'Blog', 'blog')
            +h2List('http://example.com', 'Qiita', 'qiita')
            +h2List('http://example.com', 'Products', 'products')
            +h2List('http://example.com', 'Career', 'career')
            +h2List('http://example.com', 'Technical', 'technical')
            //li
            //    h2
            //        a(href='http://example.com', id='test') link
        script(src="../../bin/app.js")
